.header__logo {
    max-width: 142px;
    margin: 27px 0px 31px 0px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        padding-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo {
        max-width: 103px;
        margin-left: 27px;
        padding: 0;
    }
}