.profile__info {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .profile__info {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .profile__info {
        max-width: 292px;
        margin: 0 auto;
    }
}