.login__log-in-button-container {
    max-width: 358px;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
}

@media screen and (max-width: 380px) {
    .login__log-in-button-container {
        max-width: 260px;
    }
}

