.footer {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 60px 0;
}

@media screen and (max-width: 920px) {
    .footer {
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width: 600px) {
    .footer {
        max-width: calc(100% - 38px);
    }
}