.profile__rename {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .profile__rename {
        width: 100%;
        justify-content: center;
        margin: 26px auto 14px auto;
    }
}

@media screen and (max-width: 400px) {
    .profile__rename {
        margin: 26px auto 0px auto;
    }
}