.popup__input {
    max-width: 358px;
    width: 100%;
    border: hidden;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0px auto 0px auto;
    padding: 0;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.popup__input:last-of-type {
    margin-bottom: 5px;
    margin-top: 0px;
}

.popup__input:focus {
    background-color: transparent;
    outline: none;
}

@media screen and (max-width: 600px) {
    .popup__input {
        max-width: 238px;
    }
}