@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font-face.css);

@import url(./blocks/page/page.css);

/* login */
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__container/login__container.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__log-in-button-container/login__log-in-button-container.css);
@import url(./blocks/login/__log-in-button/login__log-in-button.css);
@import url(./blocks/login/__submit-register-button/login__submit-register-button.css);

/* Общие классы для попапов */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_redline/popup__input_redline.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_unactive/popup__save-button_unactive.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);

/* Попап регистрации */
@import url(./blocks/popup/__title/popup__title_registration.css);
@import url(./blocks/popup/__successful-registration/popup__successful-registration.css);
@import url(./blocks/popup/__unsuccessful-registration/popup__unsuccessful-registration.css);

/* Модалка изображения */
@import url(./blocks/popup/__modal/popup__modal.css);
@import url(./blocks/popup/__container/_modal/popup__container_modal.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__description/popup__description.css);

/* Попап удаления карточки */
@import url(./blocks/popup/__container/_delete/popup__container_delete.css);
@import url(./blocks/popup/__delete-btn/popup__delete-btn.css);

/* Попап смены аватарки */
@import url(./blocks/popup/__container/_change-avatar/popup__container_change-avatar.css);
@import url(./blocks/popup/__change-avatar-btn/popup__change-avatar-btn.css);

/* Классы шапки */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/header/__drop-menu/header__drop-menu.css);
@import url(./blocks/header/__drop-menu/header__drop-menu_unactive.css);

@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__wrapper/header__wrapper_unactive.css);

@import url(./blocks/header/__main-header-wrapper/header__main-header-wrapper.css);
@import url(./blocks/header/__login-button/header__login-button.css);
@import url(./blocks/header/__login-button/header__login-button_unactive.css);
@import url(./blocks/header/__login-button/header__login-button_logged-in.css);

@import url(./blocks/header/__button-icon/header__button-icon.css);
@import url(./blocks/header/__button-icon/header__button-icon_close.css);
@import url(./blocks/header/__button-icon/header__button-icon_unactive.css);

@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__email/header__email_unactive.css);

/* Классы профиля */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__rename/profile__rename.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* Класс template карточек */
@import url(./blocks/elements/elements.css);

/* Классы карточки */
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__like-number/element__like-number.css);
@import url(./blocks/element/__modal/element__modal.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__delete-container/element__delete-container.css);
@import url(./blocks/element/__delete-container/element__delete-container_hidden.css);
@import url(./blocks/element/__trash/element__trash.css);

/* Футер */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__description/footer__description.css);

/* body {
    background-color: #000;
    margin: 0;
  }
  
  .root {
    padding: 0;
  } */
